<%- include('./includes/head', { pageTitle: 'Error'}) %>
</head>
<body>
  <%- include('./includes/header') %> 
  <main>
    <h1>Error <%= errorType %></h1>
    <p>Server error has occured!</p>
  </main>
<%- include('./includes/footer') %> 