<header id="main-header">
  <div id="header-container">
    <div id="logo" ><a href="/">CS</a></div>
    <nav id="navbar">
      <%- include('nav-items') %>
    </nav>
    <button id="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
<aside id="mobile-menu">
  <nav>
    <%- include('nav-items') %>
  </nav>
</aside>