#main-header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  align-items: center;
  background-color: var(--color-gray-600);
}

#header-container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  padding: var(--space-2);
}

#logo a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary-100);
}

#navbar {
  display: none;
}

.nav-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  justify-content: space-around;
  align-items: center;
}

.nav-items form {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.nav-items button,
.nav-items a {
  padding: 0 var(--space-4);
  font: inherit;
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  color: var(--color-primary-100);
  cursor: pointer;
}

.nav-items button:hover,
.nav-items button:active,
.nav-items a:hover,
.nav-items a:active {
  color: var(--color-primary-400);
}


#mobile-menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#mobile-menu-btn span {
  width: 2.25rem;
  height: 0.2rem;
  background-color: var(--color-gray-100);
}

#mobile-menu {
  position: fixed;
  top: 5rem;
  left: 0;
  height: calc(100vh - 5rem);
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-700);
}

#mobile-menu.open {
  display: flex;
}

#mobile-menu nav {
  margin: var(--space-4) auto;
  width: 90%;
  height: 15rem;
}

@media (min-width: 48rem) {
  #header-container {
    justify-content: left;
  }

  #navbar {
    display: block;
    width: 90%;
  }

  .nav-items {
    flex-direction: row;
    justify-content: center;
  }

  #mobile-menu-btn {
    display: none;
  }

  #mobile-menu {
    display: none
  }
}